.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .horizontal-timeline .items {
    border-top: 2px solid #ffffff;
    }
    
    .horizontal-timeline .items .items-list {
    position: relative;
    margin-right: 0;
    }
    
    .horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 0;
    margin-top: -5px;
    }
    
    .horizontal-timeline .items .items-list {
    padding-top: 15px;
    }

.gradient-custom {
    /* fallback for old browsers */
    background: #f37a27;
    
   
    }

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fff;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #fff, #000);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #fff, #fff)
    }
    
    #progressbar-1 {
    color: #000;
    }
    
    #progressbar-1 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    }
    
    #progressbar-1 #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 22px;
    padding-left: 11px;
    }
    
    #progressbar-1 #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
    }
    
    #progressbar-1 #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 22px;
    text-align: center;
    }
    
    #progressbar-1 li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #000;
    border-radius: 50%;
    margin: auto;
    }
    
    #progressbar-1 li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
    }
    
    #progressbar-1 li:nth-child(2):after {
    left: 50%
    }
    
    #progressbar-1 li:nth-child(1):after {
    left: 25%;
    width: 121%
    }
    
    #progressbar-1 li:nth-child(3):after {
    left: 25%;
    width: 50%;
    }
    
    #progressbar-1 li.active:before,
    #progressbar-1 li.active:after {
    background: #fff;
    }
    
    .card-stepper {
    z-index: 0
    }

    .checkout-cta {
        background: #000;
    }